<header>
  <div class="container">
    <div class="row">
      <div class="logo col-xs-12 col-sm-3 col-md-3">
        <h1>
          <a href="index.html" title="Happy Weekend">Happy Weekend</a>
        </h1>
      </div>
    </div>
  </div>
</header>
<main>
  <div class="container">
    <div class="row">
      <div class="common-block col-xs-12 col-sm-12 col-md-12">
        <h2 class="heading col-xs-12 col-sm-12 col-md-12">Featured Recommendations</h2>
        <div class="featured">
          <div class="grid big col-xs-12 col-sm-12 col-md-4">
            <a href="#">
              <div class="grid__image">
                <%= image_tag('b.jpg') %>
              </div>
              <div class="grid__info">
                <h3 class="grid__title">The Grey</h3>
                <p class="grid__location">OFX Nepal, Civil Mall</p>
                <p>Sundhara, Kathmandu</p>
              </div>
            </a>
          </div>
          <div class="grid big col-xs-12 col-sm-12 col-md-4">
            <a href="#">
              <div class="grid__image">
                <%= image_tag('b.jpg') %>
              </div>
              <div class="grid__info">
                <h3 class="grid__title">The Grey</h3>
                <p class="grid__location">OFX Nepal, Civil Mall</p>
                <p>Sundhara, Kathmandu</p>
              </div>
            </a>
          </div>
          <div class="grid big col-xs-12 col-sm-12 col-md-4">
            <a href="#">
              <div class="grid__image">
                <%= image_tag('c.jpg') %>
              </div>
              <div class="grid__info">
                <h3 class="grid__title">The Grey</h3>
                <p class="grid__location">OFX Nepal, Civil Mall</p>
                <p>Sundhara, Kathmandu</p>
              </div>
            </a>
          </div>
          <!-- 						<div class="grid small col-xs-12 col-sm-12 col-md-2">
                        <ul>
                          <li class="grid col-xs-12 col-sm-6 col-md-12">
                            <div class="row">
                              <a href="#">
                                <div class="grid__image">
                                  <img src="images/a.jpg" alt="poster">
                                </div>
                                <div class="grid__info">
                                  <h3 class="grid__title">The Grey</h3>
                                  <p class="grid__location">OFX Nepal, Civil Mall</p>
                                  <p>Sundhara, Kathmandu</p>
                                </div>
                              </a>
                            </div>
                          </li>
                          <li class="grid col-xs-12 col-sm-6 col-md-12">
                            <div class="row">
                              <a href="#">
                                <div class="grid__image">
                                  <img src="images/c.jpg" alt="poster">
                                </div>
                                <div class="grid__info">
                                  <h3 class="grid__title">The Grey</h3>
                                  <p class="grid__location">OFX Nepal, Civil Mall</p>
                                  <p>Sundhara, Kathmandu</p>
                                </div>
                              </a>
                            </div>
                          </li>
                        </ul>
                      </div>
                      <div class="grid small col-xs-12 col-sm-12 col-md-2">
                        <ul>
                          <li class="grid col-xs-12 col-sm-6 col-md-12">
                            <div class="row">
                              <a href="#">
                                <div class="grid__image">
                                  <img src="images/a.jpg" alt="poster">
                                </div>
                                <div class="grid__info">
                                  <h3 class="grid__title">The Grey</h3>
                                  <p class="grid__location">OFX Nepal, Civil Mall</p>
                                  <p>Sundhara, Kathmandu</p>
                                </div>
                              </a>
                            </div>
                          </li>
                          <li class="grid col-xs-12 col-sm-6 col-md-12">
                            <div class="row">
                              <a href="#">
                                <div class="grid__image">
                                  <img src="images/c.jpg" alt="poster">
                                </div>
                                <div class="grid__info">
                                  <h3 class="grid__title">The Grey</h3>
                                  <p class="grid__location">OFX Nepal, Civil Mall</p>
                                  <p>Sundhara, Kathmandu</p>
                                </div>
                              </a>
                            </div>
                          </li>
                        </ul>
                      </div> -->
        </div>
      </div>

    </div>
    <div class="common-block col-xs-12 col-sm-12 col-md-12">
      <h2 class="heading col-xs-12 col-sm-12 col-md-12">Outdoor</h2>
      <ul>
        <li class="grid col-xs-12 col-sm-4 col-md-2">
          <a href="#">
            <div class="grid__image">
              <%= image_tag('b.jpg') %>
            </div>
            <div class="grid__info">
              <h3 class="grid__title">Sports</h3>
            </div>
          </a>
        </li>
        <li class="grid col-xs-12 col-sm-4 col-md-2">
          <a href="#">
            <div class="grid__image">
              <%= image_tag('b.jpg') %>
            </div>
            <div class="grid__info">
              <h3 class="grid__title">The Grey</h3>
              <p class="grid__location">OFX Nepal, Civil Mall</p>
            </div>
          </a>
        </li>
        <li class="grid col-xs-12 col-sm-4 col-md-2">
          <a href="#">
            <div class="grid__image">
              <%= image_tag('b.jpg') %>
            </div>
            <div class="grid__info">
              <h3 class="grid__title">The Grey</h3>
              <p class="grid__location">OFX Nepal, Civil Mall</p>
            </div>
          </a>
        </li>
        <li class="grid col-xs-12 col-sm-4 col-md-2">
          <a href="#">
            <div class="grid__image">
              <%= image_tag('b.jpg') %>
            </div>
            <div class="grid__info">
              <h3 class="grid__title">The Grey</h3>
              <p class="grid__location">OFX Nepal, Civil Mall</p>
            </div>
          </a>
        </li>
      </ul>
    </div>
    <div class="common-block col-xs-12 col-sm-12 col-md-12">
      <h2 class="heading col-xs-12 col-sm-12 col-md-12">Indoor</h2>
      <ul class="outdoor">
        <li class="grid col-xs-12 col-sm-4 col-md-2">
          <a href="#">
            <div class="grid__image">
              <%= image_tag('b.jpg') %>
            </div>
            <div class="grid__info">
              <h3 class="grid__title">The Grey</h3>
              <p class="grid__location">OFX Nepal, Civil Mall</p>
            </div>
          </a>
        </li>
        <li class="grid col-xs-12 col-sm-4 col-md-2">
          <a href="#">
            <div class="grid__image">
              <%= image_tag('b.jpg') %>
            </div>
            <div class="grid__info">
              <h3 class="grid__title">The Grey</h3>
              <p class="grid__location">OFX Nepal, Civil Mall</p>
            </div>
          </a>
        </li>
        <li class="grid col-xs-12 col-sm-4 col-md-2">
          <a href="#">
            <div class="grid__image">
              <%= image_tag('b.jpg') %>
            </div>
            <div class="grid__info">
              <h3 class="grid__title">The Grey</h3>
              <p class="grid__location">OFX Nepal, Civil Mall</p>
            </div>
          </a>
        </li>
        <li class="grid col-xs-12 col-sm-4 col-md-2">
          <a href="#">
            <div class="grid__image">
              <%= image_tag('b.jpg') %>
            </div>
            <div class="grid__info">
              <h3 class="grid__title">The Grey</h3>
              <p class="grid__location">OFX Nepal, Civil Mall</p>
            </div>
          </a>
        </li>
        <li class="grid col-xs-12 col-sm-4 col-md-2">
          <a href="#">
            <div class="grid__image">
              <%= image_tag('b.jpg') %>
            </div>
            <div class="grid__info">
              <h3 class="grid__title">The Grey</h3>
              <p class="grid__location">OFX Nepal, Civil Mall</p>
            </div>
          </a>
        </li>
        <li class="grid col-xs-12 col-sm-4 col-md-2">
          <a href="#">
            <div class="grid__image">
              <%= image_tag('b.jpg') %>
            </div>
            <div class="grid__info">
              <h3 class="grid__title">The Grey</h3>
              <p class="grid__location">OFX Nepal, Civil Mall</p>
            </div>
          </a>
        </li>
      </ul>
    </div>
  </div>
  </div>
</main>
<footer>
  <div class="container">
    <div class="row">
      <p>Footer</p>
    </div>
  </div>
</footer>
