<p id="notice"><%= notice %></p>


<header>
  <div class="container">
    <div class="row">
      <div class="logo col-xs-12 col-sm-3 col-md-3">
        <h1>
          <a href="<%= root_url %>" title="Happy Weekend">Happy Weekend</a>
        </h1>
      </div>
      <%= link_to "Set My Preferences", preferences_path, class:"col-xs-12 col-sm-3 col-md-2 pull-right"   %>
    </div>
  </div>
</header>
<main>
  <div class="container">
    <div class="row">
      <div class="common-block col-xs-12 col-sm-12 col-md-12">
        <h2 class="heading col-xs-12 col-sm-12 col-md-12">Locations</h2>
        <% if @indoor_activities.empty? %>
          <p>Sorry! no events match your preferences</p>
        <%end %>
        <div class="listing">
          <% @indoor_activities.each do |indoor_activity| %>
            <div class="grid big col-xs-12 col-sm-4 col-md-2">
              <%= link_to(indoor_activity) do %>
                <div class="grid__image">
                  <% if indoor_activity.images.first %>
                    <%= image_tag(indoor_activity.images.first.source) %>
                  <% else %>
                    <%= image_tag ("cinema.jpg") %>

                  <%end%>
                </div>
                <div class="grid__info">

                  <h3 class="grid__title"><%=indoor_activity.name %></h3>

                </div>
              <%end %>
            </div>
          <%end %>

        </div>

      </div>
    </div>
  </div>
</main>
<footer>
  <div class="container">
    <div class="row">
      <p>Footer</p>
    </div>
  </div>
</footer>

